html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    font-family: 'Cairo', sans-serif;
}

/*\\start scrolling nave bar\\*/

#scrollingnav{
   overflow: hidden;
  background-color: #333;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.navscr{
    margin-right:1em !important ;
    border-right: 1px black solid !important;
    height: 20px !important;
}
.btn-dark{
    border-radius: 12px;
    height: 24px;
    padding: 0 10px 25px 10px;
}
/*\\end scrolling nave bar\\*/


.carousel-item{
    margin-bottom: 5%;
    border-bottom: 1px solid white;
    
    
}
/*--start of the navbar1--*/
.grd0{
   
    background-image: url(../images/transparent\ waves.png) ,linear-gradient(#2B99EE, #2FB9C6, #30C7B6);
    background-position:center bottom,center;
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar {
    padding: 1px;
    margin: 0;  
}

.grd0 >.navbar-light .navbar-brand,
.para,
.grd0 >.navbar-light .navbar-nav .show > .nav-link,
.grd0 > .navbar-light .navbar-nav .nav-link.active,
.grd0 >.navbar-light .navbar-nav .nav-link
{
    color: white;
    font-weight: bold;
}


.btn-light{
    color: #2B99EE;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px 25px 10px;
}
.nav-link{
    padding: 0;
    margin: 0;
    width: 6rem;
}
.nav-item{
    
    margin-right:1em ;
    border-right: 1px white solid;
    height: 20px;
    padding: 0;
    
}
.nav-item:last-child{
    border-right:0px ;
    color: #2B99EE;
  
}
/*--end of the navbar1--*/


/*--start of the navbar2--*/

.grd1{
    background-image: linear-gradient(#41A95A,#47AE5F,#AAEBB1, #77C04A, #367C46 );
    object-fit: cover;

}

.n2{
    background-color: #41A95A;

}
.navbar-light .navbar-brand,
.para2,
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link
{
    color: #000;
    font-weight: bold;
}
.n2 .btn-light{
    color: #3DA858;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px 25px 10px;
}
.n2 .nav-link{
    padding: 0;
    padding-right: 1em;
}
.n2 .nav-item{
    
    margin-right:1em ;
    border-right: 1px #000 solid;
    height: 20px;
    padding: 0;
    padding-right: 1em;
    
}
.n2 .nav-item:last-child{
    border-right:0px ;
    color: #3DA858;
  
}


/*--end of the navbar2--*/

/*--start of the carousel 1--*/


.img-painting{
    width: 35%;
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 15%;

}
.img-cover{
    background-size: cover;
    width:100%;
}
.bgg{
    background: url('../images/white\ wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
   
}
.para{
    font-size: 2rem;
    width: 30%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left:60%;
    transform: translateY(-300%);
    
   
}
/*--end of the carousel 1--*/
/*--start of the carousel 2--*/


.img-plastic{
    width: 30%;
    margin-left:65%;
    margin-top:70px;
    display: inline-block;

}
.img-cover2{
    background-size: cover;
    width:100%;
}
.para2{
    font-size: 2rem;
    width: 30%;
    text-align: center;
    position: absolute;
    margin-left: 10%;
    transform: translateY(100%);
    
   
}
/*--end of the carousel 2--*/
/*--start of the featuers--*/
.flex-container{
    display: flex;
}
.border-bot{
    border-bottom: 1px groove black;
}
#marg{
    margin-left: 10px;
}
.bg{
    background-color: #EDEDED;
    height: 18rem;
    margin: 1px;
    width: 83.3%;
}
.parent{
    position: relative;
}
.vertical-down{
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 35%;
    transform: translateY(250%);
}
.btn-success{
    background-color: #34CD75;
    border-color:#34CD75;
    font-weight: bold;
    border-radius: 1em;

}
.morepadd{
    padding-top: 8rem;
    padding-bottom: 1rem;
}
/*--end of the  featuers--*/

/*--start of about us--*/
.bg-4-about{
    background-color: #eee;
}
p
.about-us > h2,p{
    color: #000;
}
.about-us .btn-primary{
    background-color: #2B99EE;
    border-radius: 12%;
    border-color: #2b99ee;
}
.wid{
    width: 100%;
}
/*--end of about us--*/

/*--start of small sec--*/
.fonticon{
    font-size: 9rem;
    color: #34CD75;
    padding: 1rem;
    border: 5px double #34CD75;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;

}
.svg-inline--fa.fa-w-10 {
    width: 1em;
}
/*--end of small sec--*/
/*--start of contact us--*/

.contact-us{
    background:url('../images/black-background.jpg');
}
#color{
    color: white;

}
.contact-us p{
    width: 50%;
    margin-left: 25%;
}
.border-bottom{
    border-bottom: 1px groove white;
}
.editpos{
    width: 20%;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 5%;

}
.contact-us form textarea{
    width: 81%;
    margin-left: 10%;
}
.contact-us button{
    margin-top:5% ;
    margin-bottom: 5%;
    margin-left: 45%;
}
/*--end of contact us--*/
/*--start of footer --*/
#cwh1{
    color: white;
}
#cwh1:hover{
    color: #4664A5;
}
#cwh2{
    color: white;
}
#cwh2:hover{
    color: #29A4D9;
}
#cwh3{
    color: white;
}
#cwh3:hover{
    color:#DA4938 ;
}
/*--end of footer --*/